<!-- <ul>
    <li>
        <a href="#link">link</a>
    </li>
    <li>
        <a href="#link">link</a>
    </li>
    <li>
        <a href="#link">link</a>
    </li>
</ul>

<ul>
    <li>
        <a href="#link">impressum</a>
    </li>
    <li>
        <a href="#link">All Rights Reserved</a>
    </li>
    <li>
        <a href="#link">link</a>
    </li>
    <li>
        <a href="#link">link</a>
    </li>
</ul>

<ul>
    <li>
        <a href="#link">facebook</a>
    </li>
    <li>
        <a href="#link">insta</a>
    </li>
    <li>
        <a href="#link">linkedin</a>
    </li>
</ul> -->


<div class="cta">
    <h5>_cta</h5>
    <p><a href="#">mail</a></p>
    <p><a href="#">+36 70 257 5720</a></p>
</div>

<nav>

    <div>
        <h5>_address</h5>
        <p>H-7625 Pécs</p>
        <p>Nap u. 2.</p>
        <p><a href="#">+36 70 257 5720</a></p>
    </div>
    <div>
        <h5>_info</h5>
        <p>line 1</p>
        <p>line 2</p>
        <p><a href="#">line 3 link</a></p>
    </div>
    <div>
        <h5>_social</h5>
        <p><a href="#">facebook</a></p>
        <p><a href="#">instagram</a></p>
        <p><a href="#">linkedin</a></p>
    </div>
</nav>