<ul>
    <li>
        <a href="#link">link</a>
    </li>
    <li>
        <a href="#link">link</a>
    </li>
    <li>
        <a href="#link">link</a>
    </li>
</ul>

<ul>
    <li>
        <a href="#link">impressum</a>
    </li>
    <li>
        <a href="#link">All Rights Reserved</a>
    </li>
    <li>
        <a href="#link">link</a>
    </li>
    <li>
        <a href="#link">link</a>
    </li>
</ul>

<ul>
    <li>
        <a href="#link">facebook</a>
    </li>
    <li>
        <a href="#link">insta</a>
    </li>
    <li>
        <a href="#link">linkedin</a>
    </li>
</ul>

<!-- <span>
    <p>a</p>
    <p>3</p>
</span> -->


<div>
    <h5>label</h5>
    <p>line 1</p>
    <p>line 2</p>
    <p><a href="#">line 3 link</a></p>
</div>

<div>
    <h5>label</h5>
    <p>line 1</p>
    <p>line 2</p>
    <p><a href="#">line 3 link</a></p>
</div>

<div>
    <h5>label</h5>
    <p>line 1</p>
    <p>line 2</p>
    <p><a href="#">line 3 link</a></p>
</div>