/* --------------------------- fonts --------------------------- */
@font-face {
    font-family: 'Headline';
    src: url('./simplonoi-headline.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Light';
    src: url('./simplonbp-light-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Regular';
    src: url('./simplonbp-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Medium';
    src: url('./simplonbp-medium-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Bold';
    src: url('./simplonbp-bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Mono';
    src: url('./SimplonBPMono-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'SimplonBPMono Italic';
    src: url('./SimplonBPMono-LightItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: block;
}