<ul>
    <li>
        <a href="#link">link</a>
    </li>
    <li>
        <a href="#link">link</a>
    </li>
    <li>
        <a href="#link">link</a>
    </li>
</ul>

<ul>
    <li>
        <a href="#link">impressum</a>
    </li>
    <li>
        <a href="#link">All Rights Reserved</a>
    </li>
    <li>
        <a href="#link">link</a>
    </li>
    <li>
        <a href="#link">link</a>
    </li>
</ul>

<ul>
    <li>
        <a href="#link">facebook</a>
    </li>
    <li>
        <a href="#link">insta</a>
    </li>
    <li>
        <a href="#link">linkedin</a>
    </li>
</ul>
