<div class="call-to-action">
    <p>Let's talk!</p>
    <p><a href="">+36 70 257 5720</a></p>
    <p><a href="">hello@domain.com</a></p>
</div>
<nav role="navigation" aria-label="Footer">
    <ul>
        <li>
            <a href="#link">link</a>
        </li>
        <li>
            <a href="#link">link</a>
        </li>
        <li>
            <a href="#link">link</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="#link">impressum</a>
        </li>
        <li>
            <a href="#link">All Rights Reserved</a>
        </li>
        <li>
            <a href="#link">link</a>
        </li>
        <li>
            <a href="#link">link</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="#link" target="_blank">facebook</a>
        </li>
        <li>
            <a href="#link" target="_blank">insta</a>
        </li>
        <li>
            <a href="#link" target="_blank">linkedin</a>
        </li>
    </ul>
</nav>
<small>
This page, and the whole website is licensed under a 
<a rel="license" href="https://creativecommons.org/licenses/by-nc-nd/4.0/legalcode" target="_blank">
Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International Public 
(By-<abbr>NC</abbr>-<abbr>ND</abbr>) License</a>.
</small>